//Estilos Para Panel Admin y User
.ColorPanel {
  background-color: #333;
}

.ColorLetrasPanel {
  color: white;
} 

// Estilos para la imagen del logo
.logoImage {
  width: 90px; /* Ajusta el ancho según tus necesidades */
  height: 40px; /* Ajusta la altura según tus necesidades */
}

.Datosesquina {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: black; /* Ajusta el color según tus necesidades */
  text-align: right;
  font-size: 12px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

.Barra {
  color: white;
  margin-left: auto;
}